/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400&display=swap');

body{
    font-family: 'Poppins', sans-serif;
  background-color: #F3F1FF;
}
 /* Header Start */
 header{
    background-color: darkorchid;
 }
 .hed{
     display: flex;
     margin-left: 300px;
 }
 .sec-1{
     display: flex;
     align-items: center;
 }
 .sec-1 img{
    width: 42px;
    height: 51px;
}
.sec-1 p{
    color: white;
    margin-left: 10px;
}

 .sec-2{
    display: flex;
    align-items: center;
    margin-left: 500px;
}
.sec-2 a{
    color: white;
    margin-left: 40px;
    text-decoration: none;
}
.sec-2, a:hover{
color: red;
}
 .sec-2 img{
     height: 47px;
     width: 51px;
     border-radius: 30px;
 }

main{
    display: flex;
   flex-direction: column;
   align-items: center;
}
.container{
   background-color: #FFFFFF;
   width: 870px;
   border-radius: 10px;
}
/* Top Players style */
.top-players{
 margin-bottom: 30px;
}

.section-title{
    font-size: 24px;
    padding-top: 7px;
    padding-bottom: 10px;
    font-weight: 700px;
    margin-left: 50px;
    color: orangered;
}
.players{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-row-gap: 20px;
}
.player{
    display: flex;
    align-items: center;
    margin-left: 50px;
    /* margin-top: 30px; */
    background-color: rgba(255, 140, 0, 0.556);
    border-radius: 20px;
}
.player img{
    width: 56px;
    height: 56px;
}
.player h3{
    margin-left: 10px;
    font-size: 18px;
}
hr{
    border: 2px solid gray;
    margin-left: 50px;
    margin-right: 50px;
  }

  /* -----------------
  Top Blogs style
  ----------------- */
  .blogs{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 26px;
      margin-left: 50px;
  }
  .blog{
      display: flex;
  }
  .blog .thumbnail img{
    width: 224px;
    height: 127px;
    border: 2px solid rgba(255, 0, 0, 0.212);
    border-radius: 14px;
  }
  .blog-info{
      margin-left: 16px;
  }
  .blog-title{
      font-size: 17px;
  }
  .blog-author{
      text-decoration: none;
      font-size: 16px;
      color: rgb(235, 155, 64);
  }

  /*-----------------------
       Courses style
    --------------------- */
    .con-2{
        height: 450px;
    }
    .courses{
        margin-left: 50px;
        display:grid;
       grid-template-columns: repeat(3, 1fr);
      
    }
    .course{
      background-color:rgba(0, 0, 0, 0.014) ;
    width: 243px;
    height: 290px;
    border: 1px solid rgba(0, 0, 0, 0.080);
    border-radius: 16px;
    box-shadow:3px 3px 3px 3px rgb(241, 188, 188);
    }
     .course-baner{
        margin-left: 10px; 
    }
    .course .course-baner img{
        Width:224px;
        Height:104px;
        margin-top: 10px;
    }
    .course-info{
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }
    .fa-star{
        font-size: 13px;
    }
    .fas.fa-star.filled{
     color: #FFC014;
    }
    .fas.fa-star.emty{
     color: #AEAEAE;
    }
    .course-duratopn{
        margin-right: 10px;
        background-color: rgba(95, 158, 160, 0.274);
        border-radius: 10px;
    }
    .far, .fa-clock{
        color: rgb(250, 6, 6);
        font-weight: 700;
    }

    /*------------- 
    Media queries
    ------------------ */

    /* Mobile Devices */
    @media only screen and (max-width:688px){
        .container{
            width: 100%;
        }
        .players, .blogs, .courses{
            grid-template-columns: repeat(1, 1fr);
        }
        .player, .blog, .course{
            flex-direction: column;
        } 
       .hed{
         justify-content: flex-end;  
       }
        
    }

    /* Tab Device */
    @media only screen and (min-width:688px) and (max-width:992px){
        .container{
            width: 100%;
        }
        .players, .courses{
            grid-template-columns: repeat(2, 1fr);
        }
        
    }
        
    
        
   